:root {
  --red-color: #2196f3;
  --dark-color: #19283f;
  --yellow-color: #ffc400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.red-color {
  color: var(--red-color);
}

.red-bg {
  background-color: var(--red-color);
  color: white;
  transition: 0.3s;
}

.red-bg:hover {
  background-color: var(--red-color);
  opacity: 0.9;
}

body {
  font-family: "Tahoma", sans-serif;
  font-family: System-ui;
  background-color: #191919;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 20px var(--red-color) inset;
}

.scroll-btn {
  right: -50px;
  bottom: 30px;
  transition: right 0.3s;
  background-color: transparent;
  line-height: 0;
}

.scroll-btn svg {
  color: var(--red-color);
  font-size: 30px;
}

.scroll-btn svg:hover {
  transition: 0.3s;
  opacity: 0.9;
}

.main-title {
  position: relative;
  width: fit-content;
  margin: 80px auto;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--red-color);
}

.main-title::before {
  bottom: -15px;
  height: 2px;
  width: 120px;
}

.main-title::after {
  bottom: -24px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid var(--red-color);
  background-color: #191919;
}

/* Scroller */
.scroller {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--red-color);
  height: 3px;
  z-index: 1000;
  transition: 0.1s;
}

/* Setting box */
.setting-box {
  position: fixed;
  z-index: 1000;
  background-color: #000;
  width: 200px;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid var(--red-color);
  left: -200px;
  transition: 0.3s;
}

.setting-box.open {
  left: 0;
}

.setting-box .toggle-setting {
  background-color: #191919;
  position: absolute;
  right: -41px;
  top: 80px;
  font-size: 20px;
}

.setting-box .toggle-setting svg {
  padding: 10px;
  cursor: pointer;
  color: var(--red-color);
}

.setting-box .option-box {
  background-color: #222;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
}

.setting-box .colors-list li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.setting-box .option-box .colors-list li.active {
  border: 2px solid white;
}

.setting-box .option-box .colors-list li:first-child {
  background-color: #ff3150;
}

.setting-box .option-box .colors-list li:nth-child(2) {
  background-color: #2196f3;
}

.setting-box .option-box .colors-list li:nth-child(3) {
  background-color: #ff9800;
}

.setting-box .option-box .colors-list li:nth-child(4) {
  background-color: green;
}

.setting-box .option-box .colors-list li:last-child {
  background-color: #e91e63;
}

.scroll-bar span {
  opacity: 0.8;
}

.scroll-bar span.selected {
  opacity: 1;
}

/* Navbar */
.navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 2px var(--red-color);
}

.nav-item {
  position: relative;
  color: white;
}

.nav-item:hover a,
.nav-item a.active {
  color: var(--red-color) !important;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0;
  height: 2px;
  width: 0;
  background-color: var(--red-color);
  transition: width 0.3s;
}

.nav-item:hover::before {
  width: 100%;
}

/* Landing */
.landing {
  min-height: calc(100vh - 60px);
}

.intro {
  position: relative;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.intro::after {
  content: "|";
  color: white;
  animation: change-opacity 0.3s alternate infinite;
  /* font-size: 35px !important; */
}

@keyframes change-opacity {
  to {
    opacity: 0.5;
  }
}

.landing .text h1 p {
  letter-spacing: 2px;
}

/* .landing .image::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 60%;
  translate: -50% -50%;
  width: 80%;
  height: 80%;
  background-color: var(--red-color);
  border-radius: 25% 75% 83% 17% / 37% 72% 28% 63%;
  rotate: -85deg;
  z-index: -1;
  transition: .3s;
} */

.landing img {
  width: 250px;
  border-radius: 20px;
  transition: 0.3s;
  transition: 0.3s;
  background-color: var(--red-color);
  border-radius: 50%;
  border: 25px solid white;
  box-shadow: 0 0 15px var(--red-color);
}

.landing img:hover {
  box-shadow: 0 0 25px 10px var(--red-color);
  scale: 0.9;
}

/* .landing .image:hover::before {
  left: 52%;
}

.landing .image:hover img {
  translate: 0 -20px;
} */

@media (max-width: 575px) {
  .landing .image {
    overflow: hidden;
  }
}

/* About */
.about {
  background-color: #1b1f24;
}

.about img {
  width: 350px;
  max-width: 100%;
}

/* Time Line */
.timeline-content::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 2px;
  margin-left: -1px;
  z-index: -1;
  background-color: var(--red-color);
}

.timeline-content .year {
  position: relative;
  width: fit-content;
  padding: 10px;
  background-color: var(--red-color);
  margin: 30px auto;
  font-weight: bold;
}

.timeline-content .left,
.timeline-content .right {
  background-color: var(--dark-color);
  width: calc(50% - 25px);
  margin-top: 40px;
}

.timeline-content .left {
  float: left;
}

.timeline-content .right {
  float: right;
}

.timeline-content .left::before,
.timeline-content .right::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  border-radius: 50%;
  border: 2px solid var(--red-color);
  z-index: 1;
  background-color: #191919;
}

.timeline-content .left::before {
  right: -35px;
}

.timeline-content .right::before {
  left: -35px;
}

.timeline-content .left::after,
.timeline-content .right::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  top: 20px;
}

.timeline-content .left::after {
  border-color: transparent transparent transparent white;
  right: -20px;
}

.timeline-content .right::after {
  border-color: transparent white transparent transparent;
  left: -20px;
}

.timeline-content .content p {
  margin: 0;
}

.clear-float {
  clear: both;
}

@media (max-width: 575px) {
  .timeline-content .left,
  .timeline-content .right {
    width: 100%;
  }

  .timeline-content .left::after,
  .timeline-content .right::after {
    display: none;
  }
}

/* Skills */
.skills {
  background-color: var(--dark-color);
}

.skills img {
  width: 350px;
}

.skills .progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: width 0.3s;
  background-color: var(--red-color);
}

.skills .techs .icon {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s !important;
}

.skills .techs .icon:hover {
  border-radius: 50%;
  transition: 0.3s;
}

.skills .techs .icon:hover img {
  scale: 0.8;
}

.skills .techs .icon img {
  transition: 0.3s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Projects */
/* .projects .container .row {
  overflow: hidden;
} */

/* .projects .row>div {
  display: none;
} */

.projects .project {
  background-color: transparent;

  /* Glass Effect */
  background: hsla(0, 0%, 55%, 0.1);
  background-color: #19283f57;
  border-radius: 16px;
  box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid hsla(0, 0%, 100%, 0.3);

  text-align: center;
}

.projects .project > img {
  width: 100%;
  /* height: 200px; */
  aspect-ratio: 2 / 1;
  border-radius: 6px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.projects .project .card-title {
  color: var(--red-color) !important;
  min-height: 50px;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

.projects .links a img {
  width: 40px;
  height: 40px;
  max-width: 100%;
}

.projects .links a:last-child img {
  background-color: #000;
  border-radius: 6px;
}

.projects .card-text {
  min-height: 95px;

  @media (min-width: 768px) {
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }

  @media (max-width: 767px) {
    font-size: 13px;
  }
}

/** Tooltip */

/* From Uiverse.io by Cksunandh */
.projects .project .description-wrapper {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.tooltip {
  background-color: #000000ee;
  border: #7c7c7c 1px solid;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  min-height: 100%;
  max-height: max-content;
  transform: translateX(-50%) translateY(-100%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 18px;
}

.tooltip::before {
  border: 8px solid;
  border-color: var(--red-color) transparent transparent transparent;
  position: absolute;
  content: "";
  /* height: 0.6em;
  width: 0.6em; */
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.project:has(.card-text:hover) .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

/* ********* */

.projects .project .no-demo {
  padding: 7px;
  font-size: 12px;
  background-color: #ff990044;
  color: #ff9800;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
}

.show-more {
  width: fit-content;
  display: block;
  margin: 50px auto;
}

/* Start Popup Style */
.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 1001;
  text-align: center;
}

@media (max-width: 768px) {
  .popup {
    width: calc(100% - 45px);
  }
}

.popup img {
  max-width: 100%;
  height: 100%;
}

.popup .close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--red-color);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}

.popup-overlay {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* End Popup Style */
/* Start Contact */
.contact {
  background-color: #1b1f24;
}

.contact .container .links,
.contact .links .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .links .icon {
  background-color: var(--dark-color);
  height: 60px;
  width: 60px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

.contact .links .icon:hover {
  box-shadow: 0 0 20px var(--red-color);
  transform: scale(1.1);
}

.contact .links svg {
  color: white;
  font-size: 30px;
}

.contact form {
  width: 450px;
  position: relative;
}

@media (max-width: 767px) {
  .contact form {
    margin: auto;
    max-width: 100%;
  }
}

.contact form .email-popup {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid #ccc;
  z-index: 10;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(4px);
  display: none;
}

@media (max-width: 700px) {
  .contact form .email-popup {
    max-width: 95%;
  }
}

.contact form .email-popup .msg {
  color: var(--yellow-color);
}

.contact form .email-popup span {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin: 30px 0 15px;
  border-radius: 4px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid var(--red-color);
  background-color: transparent;
  transition: 0.3s;
  line-height: 30px;
}

.contact form .email-popup span:hover {
  background-color: var(--red-color);
}

.contact form .input-box {
  margin-bottom: 15px;
  width: 100%;
}

.contact .input-box input,
.contact .input-box textarea,
.contact form .submit {
  width: 100%;
  background-color: var(--dark-color);
  border: none;
  outline: none;
  height: 50px;
  border-radius: 8px;
  padding: 20px;
  color: white;
  border: 1px solid transparent;
  transition: 0.5s;
}

.contact .input-box input:focus,
.contact .input-box textarea:focus {
  border-color: var(--red-color);
}

.contact .input-box textarea {
  height: 200px;
  resize: none;
}

.contact form .submit {
  background-color: var(--red-color);
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.contact form .submit:not([disabled]):hover {
  letter-spacing: 1px;
  box-shadow: 0 0 10px var(--red-color);
}

@media (max-width: 700px) {
  .contact .container {
    flex-direction: column;
  }

  .contact .container .links {
    flex-direction: row !important;
    gap: 20px;
  }

  .contact .links .icon {
    width: 50px;
    height: 50px;
  }
}

.map {
  padding: 15px;
}

.map iframe {
  display: block;
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 70px;
}

/* End Contact */
body > svg {
  background-color: #1b1f24;
}

/* Start footer */
.footer .container .box {
  flex: 1;
}

.footer .box h3 {
  font-size: 35px;
}

.footer .box p,
.footer .box .line .info {
  color: #b9b9b9;
  line-height: 1.8;
}

.footer .box .line {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.footer .box svg {
  font-size: 25px;
}

.footer .copyright {
  border-top: 1px solid #191919;
}

@media (max-width: 700px) {
  .footer .container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .footer .box .line {
    flex-direction: column;
  }
}

/* End footer */

/* Loading */
.load {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  /* margin: 50px auto; */
}

.load div {
  background-color: orchid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.load .two {
  animation-delay: 0.3s;
}

.load .three {
  animation-delay: 0.6s;
}

@keyframes up-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
  }
}
